#container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1f);
    grid-template-rows: repeat(12, 1f);
}

#nutrition {
    grid-area: 11 / 1 / 13 / 13;
}

#nutritionInfo {
    display: inline-block;
    border: 1px solid #637081;
}

#nutritionInfo table {
    border-collapse: collapse;
}

#nutritionInfo th {
    text-align: left;
    border-top: solid 1px #637081;
}

#nutritionInfo td {
    text-align: right;
    border-top: solid 1px #637081;
}

#nutritionInfo .blank-cell {
    width: 2rem;
}

#nutritionInfo .thick-row td {
    border-top-width: 5px;
}

#nutritionInfo thead th {
    border-top-width: 10px;
}

#nutritionInfo h2 {
    font-weight: 700;
}

#search {
    grid-area: 1 / 1 / 3 / 13;
}

#ingredients {
    grid-area: 3 / 1 / 5 / 13;
}

#instructions {
    grid-area: 5 / 1 / 7 / 13;
}

#tags {
    grid-area: 7 / 1 / 9 / 11;
}

#save {
    grid-area: 7 / 11 / 9 / 13;
    text-align: right;
}

#ingredientSearch {
    width: 50%;
    display: inline-block;
}

#tagSearch {
    width: 22.5%;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ingredientListButton {
    margin-top: 1.5em;
    margin-right: 1.5em;
}

li input[type='text'] {
    width: 5%;
}

li select {
    width: 10%;
}


/* For desktop: */

@media only screen and (min-width: 768px) {
    #nutrition {
        grid-area: 1 / 1 / 12 / 4;
    }
    #search {
        grid-area: 1 / 4 / 2 / 13;
    }
    #ingredients {
        grid-area: 2 / 4 / 3 / 13;
    }
    #instructions {
        grid-area: 3 / 4 / 12 / 13;
    }
    #tags {
        grid-area: 12 / 1 / 13 / 11;
    }
    #save {
        grid-area: 12 / 11 / 13 / 13;
    }
}